#preview {
    height: 400px;
    width: 100%;
}

.padded {
    padding: 1%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* used in explorer.html */
#rightColumn {
    visibility: hidden;
}
